* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;

    background-color: #add8e6;
}

.header>* {
    border: 1px dotted black;
    padding: 10px;
    background-color: #daa520;
}

.logo {
    width: 240px;
}

.links {
    width: 714px;
    text-align: center;
}

.login {
    width: 240px;
    text-align: right;
}

/* Fine header */

/* Prima section */
section .bluebackground {
    height: 500px;
    background-color: #00008b;

    display: flex;
    justify-content: center;
    align-items: center;
}

section .bluebackground .pinkblock {

    height: 400px;
    width: 900px;

    background-color: #ee82ee;
    border: 1px dotted black;
}

/* Fine prima section*/

/* Seconda section*/
section .whitebackground {
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

section .whitebackground .azureblock {
    height: 500px;
    background-color: #1e90ff;

    flex-grow: 1;
    max-width: 715px;
}

section .whitebackground .mellowblock {
    height: 500px;
    width: 475px;
    background-color: #ffc0cb;
}

.whitebackground>* {
    border: 1px dotted black;
}

/* Fine seconda section*/

/* Terza section */
.greybackground {
    background-color: #d3d3d3;
}

section .greybackground {
    height: 600px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

section .greybackground .azureblock {
    height: 500px;
    background-color: #1e90ff;

    flex-grow: 1;
    max-width: 715px;
}

section .greybackground .mellowblock {
    height: 500px;
    width: 475px;
    background-color: #ffc0cb;
}

.greybackground>* {
    border: 1px dotted black;
}

/* Fine terza section */

/* Quinta section */
.lightgreybackground {
    height: 1000px;
    background-color: #d3d3d3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.greenblock {
    width: 1200px;
    height: 900px;
    background-color: #228b22;
    border: 1px dotted black;
}

/* Fine quinta section */